  :root {
     --font-family-Rob: Roboto;
     --font-family-Ral: Raleway;
     --font-weight-regular: 400;
     --font-weight-medium: 500;
     --font-weight-bold: 700;
     --font-weight-black: 900;
     --color-sea: #2196F3;
     --color-white: #fff;
     --color-black: #212121;
 }
 
 html {
     box-sizing: border-box;
 }
 
 *,
 *::before,
 *::after {
     box-sizing: inherit;
 }
 
 body {
     margin: 0;
     font-family: Roboto;
     color: #212121;
 }
 
 .container {
     width: 1200px;
     margin-left: auto;
     margin-right: auto;
     padding-left: 15px;
     padding-right: 15px;
     display: inline-block;
 }
 
 ul {
     padding: 0;
     margin: 0;
 }
 
 li {
     list-style: none;
 }
 
 h1 {
     padding-top: 0;
     padding-bottom: 0;
 }
 
 .header-page .container {
     display: flex;
 }
 
 .header {
     background-color: var(--color-white);
 }
 
 .header-title {
     font-family: var(--font-family-Ral);
     font-weight: var(--font-weight-bold);
     font-size: 26px;
     text-decoration: none;
     margin-right: 90px;
 }
 
 .header-title-color {
     color: var(--color-sea);
 }
 
 .header-title-color-b {
     color: var(--color-black);
 }
 
 .menu {
     display: inline-flex;
 }
 
 .header-list {
     margin: 0;
     padding-left: 0;
 }
 
 .header-list .header-link-style.current {
     color: var(--color-sea);
 }
 
 .header-link:not(:last-child) {
     margin-right: 50px;
 }
 
 .header-link-style {
     font-family: var(--font-family-Rob);
     font-weight: var(--font-weight-medium);
     text-decoration: none;
     font-size: 14px;
     line-height: 1.14;
     color: var(--color-black);
     display: flex;
     padding-top: 30px;
     padding-bottom: 30px;
 }
 
 .header-link-style:hover,
 .header-link-style:active {
     color: var(--color-sea);
 }
 
 .header-link-contacts {
     margin-left: auto;
     display: inline-flex;
 }
 
 .header-link-style-contacts {
     color: #757575;
     text-decoration: none;
     padding-right: 50px;
     padding-top: 30px;
     padding-bottom: 30px;
     padding-left: 50px;
     display: inline-flex;
 }
 
 .header-link-style-contacts:hover,
 .header-link-style-contacts:active {
     color: var(--color-sea);
 }
 
 .section-about {
     display: inherit;
 }
 
 .container .notions {
     align-items: center;
 }
 
 .notions {
     display: inline-flex;
     margin-right: auto;
     padding: 0;
 }
 
 .notions-list {
     width: 270px;
     margin-right: 30px;
 }
 
 .notions-list:last-child {
     margin-right: 0;
 }
 
 .main-section {
     padding-top: 200px;
     padding-bottom: 200px;
     background-color: #2F303A;
 }
 
 .main-title {
     font-family: var(--font-family-Rob);
     font-weight: var(--font-weight-black);
     color: var(--color-white);
     font-size: 44px;
     line-height: 1.36;
     text-align: center;
     margin-top: 0;
     margin-bottom: 30px;
 }
 
 .main-title-button {
     background-color: var(--color-sea);
     color: var(--color-white);
     font-family: var(--font-family-Rob);
     font-weight: var(--font-weight-bold);
     font-size: 16px;
     line-height: 1.87;
     cursor: pointer;
     margin-right: auto;
     margin-left: auto;
     display: flex;
     padding: 10px 32px 10px 32px;
 }
 
 .second-section {
     margin-top: 95px;
     margin-bottom: 95px;
 }
 
 .ul-title-bold {
     font-family: var(--font-family-Rob);
     font-weight: var(--font-weight-bold);
     font-size: 14px;
     line-height: 1.14;
 }
 
 .ul-title-par {
     font-family: var(--font-family-Rob);
     font-weight: var(--font-weight-regular);
     color: #757575;
     font-size: 14px;
     line-height: 1.71;
 }
 
 .about-us {
     background-color: #F5F4FA;
     display: flex;
     margin-left: auto;
     margin-right: auto;
 }
 
 .section-title {
     font-family: var(--font-family-Rob);
     font-weight: var(--font-weight-bold);
     font-size: 36px;
     line-height: 1.16;
     text-align: center;
 }
 
 .section-list {
     display: inline-flex;
     margin-right: 30px;
 }
 
 .section-list:last-child {
     margin-right: 0;
 }
 
 .item {
     margin-right: 30px;
     margin-top: 50px;
 }
 
 .item:last-child {
     margin-right: 0;
 }
 
 .section-list-work {
     display: flex;
     padding: 0;
     margin: 0;
 }
 
 .section-title-portf {
     font-family: var(--font-family-Rob);
     font-weight: var(--font-weight-bold);
     font-size: 18px;
 }
 
 .section-title-par {
     font-family: var(--font-family-Rob);
     font-weight: var(--font-weight-regular);
     font-size: 16px;
     color: #757575;
 }
 
 .section-list-team {
     display: flex;
 }
 
 .team-name {
     font-family: var(--font-family-Rob);
     font-weight: var(--font-weight-medium);
     font-size: 16px;
     line-height: 1.18;
     color: #212121;
 }
 
 .team-special {
     font-family: var(--font-family-Rob);
     font-weight: var(--font-weight-regular);
     font-size: 16px;
     line-height: 1.18;
     color: #757575;
 }
 
 .footer {
     background-color: #2F303A;
 }
 
 .footer-adress {
     font-style: normal;
 }
 
 .footer-title {
     font-family: var(--font-family-Ral);
     font-weight: var(--font-weight-bold);
     font-size: 26px;
     text-decoration: none;
     display: flex;
     margin-top: 60px;
 }
 
 .footer-title-color {
     color: var(--color-sea);
 }
 
 .footer-title-color-w {
     color: var(--color-white);
 }
 
 .footer-li-map {
     font-family: var(--font-family-Rob);
     font-weight: var(--font-weight-regular);
     font-size: 14px;
     color: var(--color-white);
     text-decoration: none;
     display: flex;
     margin-top: 20px;
     margin-bottom: 10px;
 }
 
 .footer-li {
     font-family: var(--font-family-Rob);
     font-weight: var(--font-weight-regular);
     color: #ACACB0;
     font-size: 14px;
     line-height: 1.71;
     text-decoration: none;
     display: flex;
     margin-bottom: 10px;
 }
 
 .footer-li:hover {
     color: var(--color-sea);
 }
 
 .footer-li-map:hover {
     color: var(--color-sea)
 }
 
 .filters {
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .filters-list {
     display: inline-flex;
 }
 
 .list-container {
     justify-content: space-between;
 }
 
 .filters-btn {
     font-family: var(--font-family-Rob);
     font-weight: var(--font-weight-medium);
     font-size: 16px;
     line-height: 1.62;
     background: var(--color-white);
     color: var(--color-black);
     cursor: pointer;
     display: inline-flex;
     margin-right: 10px;
 }
 
 .filters-btn:hover {
     background: var(--color-sea);
     color: var(--color-white);
 }
 
 .list-offers {
     display: inline-block;
     margin-right: 30px;
 }